/* SVG File CSS */
/* Edit background-color: white; to hex background color of your choice for map */

svg {
    width: 100%;
    height: auto;
    background-color: white;
}

/* Label CSS */
/* Edit color:black; to hex color of your choice for label text */

.label {
    width: 100%;
    height: auto;
    color: black;
}
